form {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.texto{
    width: 200px;
}

.campo{
    display: flex;
    align-items: center;
}

.campo p {
    width: 70px;
    margin-right: 10px;
}

.submite {
    display: flex;
    justify-content: center;
}